=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

$grey: #aaa
$maxWidth: 500px

.expand
  cursor: pointer

.surveys
  display: flex
  flex-flow: row wrap
  @media screen and (max-width: $maxWidth)
    flex-flow: column wrap

  .survey
    width: 31.58%
    padding: 5px
    margin: 10px
    border: 1px solid $grey
    box-shadow: 4px 4px 4px $grey
    @media screen and (max-width: 500px)
      width: 100%
      margin: 0
      margin-top: 10px
    @media screen and (min-width: 501px) and (max-width: 768px)
      width: 47.224%

    .user
      padding-bottom: 10px
      font-weight: bold

    .questionAnswer
      margin-top: 5px
      margin-bottom: 5px

      .answer
        margin-top: 5px
        margin-bottom: 15px

.randomSurveys
  margin: 10px

  button
    width: 100%
    background-color: #036
    color: white
    margin-bottom: 15px
    font-size: x-large
    &:hover
      color: white
    &:visited
      color: white
  .survey
    padding: 5px
    width: 100%
    border: 1px solid $grey
    box-shadow: 4px 4px 4px $grey
    .user
      padding-bottom: 10px
      font-weight: bold

    .questionAnswer
      margin-top: 5px
      margin-bottom: 5px

      .answer
        margin-top: 5px
        margin-bottom: 15px

form
  border: 1px solid $grey
  box-shadow: 4px 4px 4px $grey
  padding: 15px
  margin-bottom: 20px
  width: 100%
  +border-radius(4px)

  .answer
    height: 100px
    resize: none

  #age
    width: 6%

  label
    &:after
      color : red
      content: " *"

#menu
  height: 500px
  /* display: flex
  /* align-items: center
  /* justify-content: center
  text-align: center

  p
    display: flex
    align-items: center
    justify-content: center
    margin-top: 50px

  button
    margin-left: 10px
    display: block
    width: 200px
    height: 112px
    @media screen and (max-width: 500px)
      height: 180px
    white-space: normal
    span
      display: block
    background-color: #036
    color: white
