@import "bootswatch-scss/flatly/variables"
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables"
@import "bootstrap-sass-official/assets/stylesheets/bootstrap"
@import "bootswatch-scss/flatly/bootswatch"

@font-face
  font-family: DistantStrokeMedium
  src: url("font/distant_stroke_medium.otf") format("opentype")

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

$grey: #aaa
$maxWidth: 500px

h1
  font-family: DistantStrokeMedium
  font-size: 80px
  margin-bottom: 50px

nav
  button
    margin-left: 10px

.expand
  cursor: pointer

.survey
  padding: 10px
  border: 1px solid $grey
  box-shadow: 4px 4px 4px $grey

  .user
    padding-bottom: 10px
    font-weight: bold
    button
      display: none
  .questionAnswer
    margin-top: 5px
    margin-bottom: 5px
  .answer
    margin-top: 5px
    margin-bottom: 15px
  .question
    color: $gray-dark
  .layout
    display: none
    cursor: none

  &.sumUp
    position: relative
    .layout
      cursor: pointer
      display: flex
      position: absolute
      flex-flow: column wrap
      width: 100%
      height: 100%
      align-items: center
      justify-content: center
      margin-left: -5px
      margin-right: -5px
      .name
        font-size: xx-large
        font-weight: bold
      .age
        font-weight: initial
      button
        display: inline-block
        margin-top: 5px
    .user, .questionAnswer
      visibility: hidden

.pager
  margin-left: 10px
  @media screen and (max-width: $screen-xs-max)
    margin-left: 0px

.surveys
  display: flex
  flex-flow: row wrap
  @media screen and (max-width: $maxWidth)
    flex-flow: column wrap

  .survey
    width: 31.58%
    margin: 10px
    @media screen and (max-width: $screen-xs-max)
      width: 100%
      margin: 0
      margin-top: 10px
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max)
      width: 47.224%

.randomSurveys
  margin: 10px
  @media screen and (max-width: $screen-xs-max)
    margin: 0
    margin-bottom: 10px

  button
    white-space: normal
    width: 100%
    margin-bottom: 15px
    font-size: x-large
    &:hover
      color: white
    &:visited
      color: white

    .survey
      width: 100%

form
  border: 1px solid $grey
  box-shadow: 4px 4px 4px $grey
  padding: 15px
  margin-bottom: 20px
  width: 100%
  +border-radius(4px)

  .answer
    height: 100px
    resize: none

  #age
    width: 10%
    @media screen and (max-width: $screen-xs-max)
      width: 30%
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
      width: 15%

  label
    &:after
      color : red
      content: " *"

.presentation
  div
    padding-top: 15px
  .menu
    display: flex
    align-items: center
    justify-content: center
    @media screen and (max-width: $screen-sm-min)
      flex-flow: column wrap

    button
      display: block
      margin-top: 15px
      white-space: initial
      @media screen and (max-width: $screen-sm-min)
        height: 60px
        width: 275px

    button:not(:first-child)
      @media screen and (min-width: $screen-sm-max)
        margin-left: 15px
